:root {
  --md-primary-fg-color: #326CE5;
  --md-primary-fg-color--light: #5A8DEE;
  --md-primary-fg-color--dark: #1E4BA8;
  --md-accent-fg-color: #326CE5;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #326CE5;
  --md-primary-fg-color--light: #5A8DEE;
  --md-primary-fg-color--dark: #1E4BA8;
  --md-accent-fg-color: #326CE5;
}
